@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:100,300,300i,400|Roboto+Slab:100,300,400|Titillium+Web:200,300,300i,400");
#title {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  color: #FFF;
  text-align: center;
  font-size: 50px;
  letter-spacing: 2px;
  margin-top: -60px;
  padding-left: 10px; }
  #title span {
    background: -webkit-linear-gradient(#81D4FA, #0288D1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

.content {
  position: relative;
  height: 100%;
  width: 100%; }
