.button {
  text-align: center;
  padding: 20px 30px;
  background-color: Transparent;
  outline: none;
  font-family: 'Roboto Mono', monospace;
  font-size: 1rem;
  height: 64px;
  border-style: solid;
  border-color: blue;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent; }

.buttonContainer {
  margin: 0 10px;
  position: relative;
  height: 84px;
  display: inline; }

.rippleContainer:hover {
  box-shadow: 0 8px 27px 0 rgba(0, 0, 0, 0.2) !important;
  transition-delay: 0s !important; }
