#intro {
  font-family: 'Roboto Slab', serif;
  font-weight: 100;
  text-align: center;
  color: #FFF;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  z-index: -1; }

#intro h1 {
  margin-top: 30vh;
  font-weight: 400;
  line-height: 1em;
  color: #FFF;
  font-size: 5rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-shadow: 0px 0px 0 #e5e5e5, 1px 1px 0 #d5d5d5, 2px 2px 0 #c4c4c4, 3px 3px 0 #b4b4b4, 4px 4px 0 #a4a4a4, 5px 5px 4px rgba(0, 0, 0, 0.3), 5px 5px 1px rgba(0, 0, 0, 0.5), 0px 0px 4px rgba(0, 0, 0, 0.2);
  padding-bottom: 1vh; }

#intro h2 {
  font-size: 3rem;
  font-weight: 300;
  margin: 0; }

@media (max-width: 600px) {
  #intro h1 {
    margin-top: 20vh;
    font-size: 3rem; }
  #intro h2 {
    font-size: 2rem; } }

#line1 {
  color: #26d3ff; }

#line2 {
  color: #37e8ce; }
